#title {
    text-decoration: underline;
}


#ResultMessage {
    font-size: 2em;
}

.symbol {
    width: 150px; /* ボタンの幅を調整 */
    height: 50px; /* ボタンの高さを調整 */
    font-size: 16px; /* ボタンのテキストのサイズを調整 */
}

