#title {
    text-decoration: underline;
}


#ResultMessage {
    font-size: 2em;
}

<style>
.symbol{
    width: 50%;
    min-width: 200px;
    max-width: 600px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: #cbe8fa;
    cursor: pointer;
}
</style>
<input type="submit" value="ボタン" class="example2">
